/* body {
  background-color: rgba(54, 54, 54, 0.884) !important;
} */

body {
  background-image: url(https://images.pexels.com/photos/3214110/pexels-photo-3214110.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  /* background-repeat: no-repeat; */
}

h1,
h2,
h3 {
  color: white;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

h1 {
  font-size: 4rem !important;
}

#name {
  position: absolute;
  left: 20%;
  top: 35%;
}

.bubble {
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 60%;
  height: 100%;
  width: 40%;
}

.bubble1 {
  display: flex;
  position: absolute;
  bottom: -105px;
  height: 100px;
  width: 100px;
}

.bubble2 {
  position: absolute;
  bottom: -165px;
  height: 160px;
  width: 160px;
}

.bubble3 {
  position: absolute;
  bottom: -55px;
  display: flex;
  height: 50px;
  width: 50px;
}

.stream1 {
  left: 15%;
}

.stream2 {
  left: 30%;
}

.stream3 {
  left: 45%;
}

.stream4 {
  left: 60%;
}

.stream5 {
  left: 75%;
}

@media only screen and (max-width: 960px) {
  h1 {
    font-size: 3rem !important;
  }

  .bubble {
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 55%;
    height: 100%;
    width: 45%;
  }

  #name {
    left: 10%;
  }
}
