button {
  border-radius: 5%;
}

button:hover {
  background-color: gray;
}

/* #mainSection {
} */

h1,
p,
h3,
button {
  font-family: "Ubuntu", sans-serif;
}

.hidden {
  display: none;
}

#modal {
  z-index: 999;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4%;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

#modal img {
  padding: 10px;
  max-height: 80vh;
  max-width: 900px;
}

#modal h3 {
  padding: 5px;
}

#modal #closeModal {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  position: absolute;
  left: -1%;
}

#modal p {
  padding: 1% 7%;
}

#modal #closeModal:hover {
  background: rgb(124, 126, 124);
}

#mainSection {
  text-align: center;
  margin-top: 10px;
}

.card-img-top {
  height: 30vh;
}

.card {
  display: inline-block;
}

.ctxImg {
  width: 80px;
  height: 80px;
  display: none;
}

#gameModal {
  position: absolute;
  top: 40%;
  display: none;
  text-align: center;
}

#gameModal h1 {
  color: red;
  font-size: 2vw;
}

#gameModal h3 {
  font-size: 1.3vw;
  margin-top: 2%;
}

#gameSection {
  display: none;
  justify-content: center;
}

#game {
  margin-top: 2%;
  border: 3px solid black;
}

#toggleButton {
  text-align: center;
}

#start {
  position: absolute;
  top: 40%;
}

.modalIcon {
  height: 40px;
  width: 40px;
}

@media only screen and (max-width: 1000px) {
  #modal {
    top: 60%;
  }

  #modal img {
    max-height: 70vh;
  }
}
