h1,
p,
h3 {
  font-family: "Ubuntu", sans-serif;
}

.hidden {
  display: none;
}

#modal {
  z-index: 999;
  position: absolute;
  left: 25%;
  top: 10%;
  width: 50%;
  border: 1px solid black;
  border-radius: 4%;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

#modal img {
  padding: 10px;
  height: 600px;
  width: 80%;
}

#modal h3 {
  padding: 5px;
}

#modal #closeModal {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  position: absolute;
  left: -1%;
}

#modal #closeModal:hover {
  background: rgb(124, 126, 124);
}

/* .projectBubble {
  margin-top: 5%;
  width: 30vh;
  height: 30vh;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4%;
  overflow: hidden;
}

.projectBubble img {
  height: 100%;
  width: 100%;
}

.project {
  width: 30vh;
  margin-top: 5%;
  display: inline-block;
  margin-right: 2%;
} */

.card-img-top {
  height: 30vh;
}

.card {
  display: inline-block;
  margin-left: 10%;
  margin-top: 30px;
}

.ctxImg {
  width: 80px;
  height: 80px;
  display: none;
}

#gameModal {
  position: absolute;
  top: 40vh;
  left: 30vw;
  display: none;
}

#gameModal h1 {
  color: red;
}

#gameSection {
  display: none;
}
